{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
    <h1>Invoice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>InvoiceNumber</th>
                <th>InvoiceDate</th>
                <th>KmCounter</th>
                <th>PtAmount</th>
                <th>AmmountToPay</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoiceNumber }}</td>
                <td>{{ invoice.invoiceDate ? invoice.invoiceDate|date('Y-m-d H:i:s T') : '' }}</td>
                <td>{{ invoice.kmCounter }}</td>
                <td>{{ invoice.ptAmount }}</td>
                <td>{{ invoice.ammountToPay }}</td>
                <td>
                    <a href="{{ path('app_invoice_show', {'invoiceNumber': invoice.invoiceNumber}) }}">show</a>
                    <a href="{{ path('app_invoice_edit', {'invoiceNumber': invoice.invoiceNumber}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_invoice_new') }}">Create new</a>
{% endblock %}
