{% extends 'base.html.twig' %}

{% block title %}PaymentInfo index
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href={{asset("forms-payment.css")}}>
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="container-elem">PaymentInfo index</h1>
		<div class="container-elem">LicensePlate</div>
		<div class="container-elem">Model</div>
		<div class="container-elem">KM</div>
		<div class="container-elem">AmountPerHour</div>
		<div class="container-elem">Reduction</div>
		<div class="container-elem">actions</div>


		{% for payment_info in payment_infos %}
			<div class="container-elem">{{ payment_info.licensePlate }}</div>
			<div class="container-elem">{{ payment_info.model }}</div>
			<div class="container-elem">{{ payment_info.KM }}</div>
			<div class="container-elem">{{ payment_info.amountPerHour }}</div>
			<div class="container-elem">{{ payment_info.reduction }}</div>

			<div class="container-elem">
				<a href="{{ path('app_payment_info_show', {'licensePlate': payment_info.licensePlate}) }}" class="container-elem">show</a>

				<a href="{{ path('app_payment_info_edit', {'licensePlate': payment_info.licensePlate}) }}" class="container-elem">edit</a>
			</div>
		{% else %}
			<div class="container-elem">no records found</div>
		{% endfor %}
		<div class="container-elem">
			<a href="{{ path('app_payment_info_new') }}" class="container-elem">Create new</a>
		</div>
	</div>
{% endblock %}
