{% extends 'base.html.twig' %}

{% block title %}Parking
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href={{asset("show-parking.css")}}>
{% endblock %}


{% block body %}
	<div class="container">
		<h1 class="container-elem">Parking</h1>
		<div class="container-elem">Id</div>
		<div class="container-elem">Capacity</div>
		<div class="container-elem">Street</div>
		<div class="container-elem">City</div>

		<div class="container-elem">{{ parking.id }}</div>
		<div class="container-elem">{{ parking.Capacity }}</div>
		<div class="container-elem">{{ parking.street }}</div>
		<div class="container-elem">{{ parking.city }}</div>

		<div class="container-elem">
			<a href="{{ path('app_parking_index') }}" class="container-elem">back to list</a>
		</div>

		<div class="container-elem">
			<a href="{{ path('app_parking_edit', {'id': parking.id}) }}" class="container-elem">edit</a>
		</div>

		<div class="container-elem-del container-elem">
			{{ include('parking/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
