{% extends 'base.html.twig' %}

{% block title %}Car index
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href={{asset("forms.css")}}>
{% endblock %}


{% block body %}

	<div class="container">
		<h1 class="container-elem">Car index</h1>
		<div class="container-elem">LicensePlate</div>
		<div class="container-elem">Mark</div>
		<div class="container-elem">Model</div>
		<div class="container-elem">NumberOfSeats</div>
		<div class="container-elem">Fuel</div>
		<div class="container-elem">ImagePath</div>
		<div class="container-elem">actions</div>

		{% for car in cars %}
			<div class="container-elem">{{ car.licensePlate }}</div>
			<div class="container-elem">{{ car.mark }}</div>
			<div class="container-elem">{{ car.model }}</div>
			<div class="container-elem">{{ car.numberOfSeats }}</div>
			<div class="container-elem">{{ car.fuel }}</div>
			<div class="container-elem">{{ car.imagePath }}</div>
			<div class="container-elem">
				<a href="{{ path('app_car_show', {'licensePlate': car.licensePlate}) }}" class="container-elem">show</a>
				<a href="{{ path('app_car_edit', {'licensePlate': car.licensePlate}) }}" class="container-elem">edit</a>
			</div>
		{% else %}
			<div class="container-elem">no records found</div>
		{% endfor %}
		<div class="container-elem">
			<a href="{{ path('app_car_new') }}" class="container-elem">Create new</a>
		</div>
	</div>

{% endblock %}
