{% extends 'base.html.twig' %}

{% block title %}Cars Gallery
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('home.css')}}">
	<link rel="stylesheet" href="{{asset('cars.css')}}">
{% endblock %}

{% block content %}
	<h1>Gallery</h1>
	<div class="cards-container">
		{% for car in cars %}
			<a href="/cars/{{ car.licensePlate }}">
				<div class="card" style="background-image: url({{ asset(car.imagePath) }})">
					<div class="card-info">
						<div>{{car.model}}</div>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
